/* ------ Header ------ */ 
.fond {
    width: 100%;
    rotate: 180deg;
    z-index: auto;
}
.logo {
    align-items: center;
    z-index: 2;
}
/*--------------------*/

/* ------ Menu ------ */ 

.menu   {
    background-color: #9F1010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 2rem;
}
.menu a:hover{
    color: rgb(149, 148, 148);
}
/*--------------------*/

/* ------ Footer------ */ 

/*--------------------*/

