/* ------ Header ------ */ 

header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 5;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9F1010;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style-type: none;
}

header nav ul li a {
    position: relative;
    float: right;
    display: block;
    font-family: "Cinzel", serif;
    font-style: bold;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 2.5rem;
    border: 0.1rem solid #9F1010;
}

header nav ul li a:hover {
    color: #9F1010;
    background-color: white;
}

.fond {
    position: absolute;
    rotate: 180deg ;
    width: 100%;
    z-index: -1;
}

.logo {
    height: 10rem;
}

/* ------ Footer------ */ 
footer {
    background-color: rgb(154, 153, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.foot a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2rem;
    font-family: "Lora", serif;
}
.foot a:hover {
    text-decoration: underline;
}
/*--------------------*/

/* ------ Index ------ */ 
body {
    margin: 0;
}
.acceuil{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentation{
    background-color: #9f101050;
    color: #9f1010;
    font-family: "Lora", serif;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 5.5rem;
    color: #9F1010;
    font-family: "Tangerine";
    font-weight: 900;
}
.acceuil a {
    padding: 5px;
    color: white;
    font-family: "Lora", serif;
    background-color: #9F1010;

}
.acceuil img {
    width: 70%;
    margin-top: -12rem;
    margin-left: 15%;
    margin-right: 14%;
}
/*--------------------*/

/* ---- Boutiques ---- */ 
.Boutique{
    background-color: #9F1010;
    color: white;
    display: flex;
    margin-bottom: 1.5rem;
}
.Boutique img {
    margin: 1rem;
    width: 150px;
    height: 150px;
}
.Liste{
    background-color: #9f101050;
    color: #9f1010;
    font-family: "Lora", serif;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: "Tangerine";
    font-weight: 900; 
    margin-bottom: 0%;
    margin-top: 2rem;
    background-color: #9f10105c;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Lora", serif;
}
/*--------------------*/

/* ---- Produits ---- */ 
.namepage {
    color: #9F1010;
    padding: 0.5rem;
}
.retour{
    color: #9F1010;
    text-decoration: none;
    size: 1rem;

}
/*--------------------*/
