/* -------------------------------- PAGES -------------------------------- */

/* -------- Header -------- */ 

header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 5;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9F1010;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

header nav ul li a {
    position: relative;
    float: right;
    display: block;
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 0.2rem solid #9F1010;
    cursor: pointer;
}

header nav ul li a:hover {
    color: #9F1010;
    background-color: #FFFFFF;
}

.logo-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 8rem;
}

.logo-header img {
    position: absolute;
}

.logo-header .fond {
    rotate: 180deg;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.logo-header .logo {
    height: 100%;
    z-index: 6;
}

/* -------- Main -------- */

main {
    margin-top: 15rem;
}

/* -------- Footer -------- */

footer {
    background-color: rgb(155, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2rem;
    font-family: "Lora", serif;
}

.footer a:hover {
    text-decoration: underline;
}

/* -------- Index -------- */ 

body {
    margin: 0;
}

.acceuil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation {
    background-color: #E7C3C3;
    color: #9f1010;
    font-family: "Lora", serif;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5.5rem;
    color: #9F1010;
    font-family: "Tangerine";
    font-weight: 900;
}

.accueil a {
    padding: 5px;
    color: #FFFFFF;
    font-family: "Lora", serif;
    background-color: #9F1010;
    margin-left: 45%;

}

.accueil img {
    width: 70%;
    margin-top: -12rem;
    margin-left: 15%;
    margin-right: 14%;
}

/* -------- Boutiques -------- */ 



.liste-boutiques {
    background-color: #E7C3C3;
    color: #9f1010;
    font-family: "Lora", serif;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: "Tangerine";
    font-weight: 900; 
    margin-bottom: 0%;
    margin-top: 2rem;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Lora", serif;
}

/* -------- Produits -------- */

.nom-de-page {
    color: #9F1010;
    background-color: #E7C3C3;
    padding: 0.5rem;
    margin-left: 20%;
    margin-right: 20%;

}

.retour{
    color: #9F1010;
    font-family: "Lora", serif;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 10%;
    margin-top: 10%;

}

.retour:hover {
    text-decoration: underline;
}

.liste-produits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/* -------- Connexion -------- */

form {
    margin-top: 3rem;
    margin-bottom: 3rem;

    background-color: #9F1010;
    padding: 3rem;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;
  }

form h1{
    color: #ffffff;
    text-align:center;
}

form p.choose-email{
    text-align:center;
}

form .inputs {
    display: flex;
    flex-direction: column;
}

form .inputs input[type='ID'], input[type='password']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    margin-bottom: 15px;
}

/* -------------------------------- COMPOSANTS -------------------------------- */

/* -------- Boutons -------- */

.bouton {
    color: #FFFFFF;
    background-color: #9F1010;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.bouton .fond-clair {
    border: 0.2rem solid #9F1010;
}

.bouton .fond-sombre {
    border: 0.2rem solid #FFFFFF;
}

.bouton:hover {
    color: #9F1010;
    background-color: #FFFFFF;
}

/* -------- Liens -------- */

a {
    text-decoration: none;
}

/* -------- Titres -------- */

…

/* -------- Cards -------- */

.card {
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem solid #9F1010;
    color: #FFFFFF;
    background-color: #9F1010;
}

.card:hover {
    color: #9F1010;
    background-color: #FFFFFF;
    cursor: pointer;
}

.boutique {
    display: flex;
}

.image {
    margin: 0.5rem;
    width: 12rem;
    height: 10rem;
    border: 0.2rem solid #FFFFFF;
}

.card:hover .image {
    border: 0.2rem solid #9F1010;
}